arxiv
requests
paper-qa
fpdf
langchain
langchain-community
spacy>=3.7,<3.9
PyPDF2
openai
langchain-openai
langchain-text-splitters

fastapi
uvicorn[standard]
celery
redis
python-dotenv
arxiv
paperqa
optimize_arxiv  
requests
fpdf
rich